
{% extends 'main/base.html' %}
{% load static %}
{% load custom_tags %}
{% block styles %}
<!-- Sweetalerts CSS -->
<link rel="stylesheet" href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css'%}">

        
{% endblock %}

{% block content %}

                    <div class="container-fluid">
                            
                        <!-- Page Header -->
                        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                            <h1 class="page-title fw-semibold fs-18 mb-0">{{title}} FAQs</h1>
                            <div class="ms-md-1 ms-0">
                                <nav>
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a href="#">Data</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">{{title}} FAQs</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <!-- Page Header Close -->

                        
                        <!-- Start::row-1 -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card custom-card">
                                    <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
                                        <div class="card-title">
                                            FAQ<span class="badge bg-light text-default rounded ms-1 fs-12 align-middle">{{ faq_list.paginator.count }}</span>
                                        </div>
                                        {% comment %} <div class="btn-group"> <button class="btn btn-primary-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> Choose </button> 
                                            <ul class="dropdown-menu dropmenu-light-primary"> 
                                                <li><a class="dropdown-item" href="#">15</a></li> 
                                                <li><a class="dropdown-item" href="#">30</a></li> 
                                                <li><a class="dropdown-item active" href="#">45</a></li> 
                                                <li><a class="dropdown-item" href="#">60</a></li> 
                                            </ul> 
                                        </div> {% endcomment %}
                                        <div class="chat-search">
                                            <form method="get" name="registerform" action="{% url 'selected-faq-list' model_name %}">
                                                <div class="input-group">
                                                    <input type="text" class="form-control bg-light border-0" placeholder="Search.." name="search" value="" aria-describedby="button-addon2">
                                                    <button aria-label="button" class="btn btn-light" type="submit" id="button-addon2"><i class="ri-search-line text-muted"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">No</th>
                                                        <th scope="col">Question</th>
                                                        <th scope="col">Answer</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Priority</th>
                                                        {% if request.user|check_requested_permissions:'change_faq' or request.user|check_requested_permissions:'delete_faq' %}
                                                        <th scope="col">Action</th>
                                                        {% endif %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if faq_list %}
                                                        {% for faq in faq_list.object_list %}
                                                        <tr class="crm-contact">
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>{{ faq.question }}</td>
                                                            <td>{{ faq.answer|safe }}</td>
                                                            <td>{% for category in faq.category.all %}{{ category }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                                                            <td>{{ faq.priority }}</td>
                                                        
                                                            <td>
                                                                <div class="btn-list">
                                                                    {% if request.user|check_requested_permissions:'change_faq' %}
                                                                    <a aria-label="anchor" href="{% url 'edit-selected-faq' model_name faq.pk %}" class="btn btn-sm btn-icon btn-info-light"><i class="ri-pencil-line"></i></a>
                                                                    {% endif %}
                                                                    {% if request.user|check_requested_permissions:'delete_faq' %}
                                                                    <button class="btn btn-sm btn-danger-light btn-icon contact-delete alert-parameter" id="alert-parameter{{ faq.pk }}" data-delete-url="{% url 'delete-selected-faq' model_name faq.pk %}"><i class="ri-delete-bin-line"></i></button>
                                                                    {% endif %}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    {% else %}
                                                        <tr>
                                                            <td>No data available.</td>
                                                        </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                    <div class="card-footer border-top-0">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                Showing {{faq_list.object_list.count}} Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i>
                                            </div>
                                            <div class="ms-auto">
                                                <nav aria-label="Page navigation" class="pagination-style-4">
                                                    <ul class="pagination mb-0">
                                                        {%if faq_list.has_previous %}
                                                        <li class="page-item">
                                                            <a class="page-link text-primary" href="?page={{faq_list.previous_page_number}}">Prev</a>
                                                        </li>
                                                        {% endif %}
                                                        {% for n in faq_list.paginator.page_range %}
                                                            {% if faq_list.number == n %}
                                                                <li class="page-item active"><a class="page-link">{{ n }}</a></li>
                                                            {% elif n > faq_list.number|add:'-3' and n < faq_list.number|add:'3' %}
                                                                <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if faq_list.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link text-primary" >....</a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="?page={{ faq_list.paginator.num_pages }}">{{ faq_list.paginator.num_pages }}</a></li>
                                                        {% endif %} 
                                                        {%if faq_list.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link text-primary" href="?page={{faq_list.next_page_number}}">
                                                                next
                                                            </a>
                                                        </li>
                                                        {% endif %} 
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End::row-1 -->

                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const buttons = document.querySelectorAll('.alert-parameter');
                                buttons.forEach(button => {
                                    button.addEventListener('click', function () {
                                        const deleteUrl = button.getAttribute('data-delete-url');
                            
                                        const swalWithBootstrapButtons = Swal.mixin({
                                            customClass: {
                                                confirmButton: 'btn btn-success ms-2',
                                                cancelButton: 'btn btn-danger'
                                            },
                                            buttonsStyling: false
                                        });
                            
                                        swalWithBootstrapButtons.fire({
                                            title: 'Are you sure?',
                                            text: "You won't be able to revert this!",
                                            icon: 'warning',
                                            showCancelButton: true,
                                            confirmButtonText: 'Yes, delete it!',
                                            cancelButtonText: 'No, cancel!',
                                            reverseButtons: true
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = deleteUrl;
                                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                                swalWithBootstrapButtons.fire(
                                                    'Cancelled',
                                                    'Your data is safe',
                                                    'error'
                                                );
                                            }
                                        });
                                    });
                                });
                            });
                        </script>
                        
                        
                    </div>

{% endblock %}
{% block footer %}
             {% include 'main/copyright-footer.html' %}
{% endblock %}
{% block scripts %}
        <!-- Sweetalerts JS -->
        <script src="{% static 'assets/libs/sweetalert2/sweetalert2.min.js'%}"></script>
        <script src="{% static 'assets/js/sweet-alerts.js'%}"></script>

        <!-- Flat Picker JS -->
        <script src="{% static 'assets/libs/flatpickr/flatpickr.min.js'%}"></script>

        <!-- CRM Contacts JS -->
        <script src="{% static 'assets/js/crm-leads.js'%}"></script>
        

{% endblock %}

