{% extends 'main/base.html' %}
{% load static %}
{% load custom_tags %}
{% block styles %}
<!-- Sweetalerts CSS -->
<link rel="stylesheet" href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css'%}">

        
{% endblock %}

{% block content %}

                    <div class="container-fluid">
                            
                        <!-- Page Header -->
                        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                            <h1 class="page-title fw-semibold fs-18 mb-0">Grievance</h1>
                            <div class="ms-md-1 ms-0">
                                <nav>
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a href="#">Data</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Grievance</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <!-- Page Header Close -->

                        <!-- Start:: row-1 -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card custom-card">
                                    <div class="card-body p-3">
                                        <form id="filter-download-form" method="get">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                                                <div class="avatar-list-stacked">
                                                    <input type="date" id="start_date" name="start_date" value="{{ start_date }}" required class="btn btn-success-light btn-sm"> Start Date</input>
                                                    <input type="date" id="end_date" name="end_date" value="{{ end_date }}" required class="btn btn-success-light btn-sm"> End Date</input>
                                                    <button type="button" class="btn btn-success btn-sm" onclick="submitForm('filter')">Filter</button>
                                                </div>
                                                <div class="d-flex" role="search">
                                                    <button type="button" class="btn btn-success btn-sm" onclick="submitForm('download')">Download as Excel</button>
                                                </div>
                                            </div>
                                        </form>
                                        <script>
                                            function submitForm(actionType) {
                                                var form = document.getElementById('filter-download-form');
                                                if (actionType === 'filter') {
                                                    form.action = "{% url 'grievance-list' %}";
                                                } else if (actionType === 'download') {
                                                    form.action = "{% url 'download-grievance' %}";
                                                }
                                                form.submit();
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End:: row-1 -->

                        <!-- Start::row-1 -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card custom-card">
                                    <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
                                        <div class="card-title">
                                            Submissions<span class="badge bg-light text-default rounded ms-1 fs-12 align-middle">{{ grievance_list.paginator.count }}</span>
                                        </div>
                                        {% comment %} <div class="d-flex flex-wrap gap-2">
                                            <a href="{% url 'grievance-form' %}">
                                                <button class="btn btn-primary btn-sm"><i class="ri-add-line me-1 fw-semibold align-middle"></i>Grievance Form</button>
                                            </a>
                                        </div> {% endcomment %}
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Created At</th>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Phone Number</th>
                                                        <th scope="col">Designation</th>
                                                        <th scope="col">Identity</th>
                                                        <th scope="col">Identity Number</th>
                                                        <th scope="col">Types of Grievance</th>
                                                        <th scope="col">Your Grievance</th>
                                                        {% if request.user|check_requested_permissions:'delete_grievance' %}
                                                        <th scope="col">Action</th>
                                                        {% endif %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if grievance_list %}
                                                        {% for grievance in grievance_list.object_list %}
                                                        <tr class="crm-contact">
                                                            <td>
                                                                {{ grievance.pk }}
                                                            </td>
                                                            <td>
                                                                {{ grievance.created_at }}
                                                            </td>
                                                            <td>
                                                                <div class="d-flex align-items-center gap-2">
                                                                    <div>
                                                                        <span class="d-block fw-semibold">{{ grievance.name }}</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div>
                                                                    <span class="d-block mb-1"><i class="ri-mail-line me-2 align-middle fs-14 text-muted d-inline-block"></i>{{ grievance.email }}</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div>
                                                                    <span class="d-block"><i class="ri-phone-line me-2 align-middle fs-14 text-muted"></i>{{ grievance.phone_number }}</span>
                                                                </div>
                                                            </td>
                                                            
                                                            <td>{{ grievance.designation }}</td>
                                                            <td>{{ grievance.identity }}</td>
                                                            <td>{{ grievance.identity_number }}</td>
                                                            <td>{{ grievance.types_of_grievance }}</td>
                                                            <td>{{ grievance.your_grievance|slice:":50"|default:"" }}</td>
                                                            {% if request.user|check_requested_permissions:'delete_grievance' %}
                                                            <td>
                                                                <div class="btn-list">
                                                                    <button class="btn btn-sm btn-danger-light btn-icon contact-delete alert-parameter" id="alert-parameter{{ grievance.pk }}" data-delete-url="{% url 'delete-grievance' grievance.pk %}"><i class="ri-delete-bin-line"></i></button>
                                                                </div>
                                                            </td>
                                                            {% endif %}
                                                        </tr>
                                                        {% endfor %}
                                                    {% else %}
                                                        <tr>
                                                            <td>No data available.</td>
                                                        </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                    <div class="card-footer border-top-0">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                Showing {{grievance_list.object_list.count}} Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i>
                                            </div>
                                            <div class="ms-auto">
                                                <nav aria-label="Page navigation" class="pagination-style-4">
                                                    <ul class="pagination mb-0">
                                                        {%if grievance_list.has_previous %}
                                                        <li class="page-item">
                                                            <a class="page-link text-primary" href="?page={{grievance_list.previous_page_number}}">Prev</a>
                                                        </li>
                                                        {% endif %}
                                                        {% for n in grievance_list.paginator.page_range %}
                                                            {% if grievance_list.number == n %}
                                                                <li class="page-item active"><a class="page-link">{{ n }}</a></li>
                                                            {% elif n > grievance_list.number|add:'-3' and n < grievance_list.number|add:'3' %}
                                                                <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if grievance_list.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link text-primary" >....</a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="?page={{ grievance_list.paginator.num_pages }}">{{ grievance_list.paginator.num_pages }}</a></li>
                                                        {% endif %} 
                                                        {%if grievance_list.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link text-primary" href="?page={{grievance_list.next_page_number}}">
                                                                next
                                                            </a>
                                                        </li>
                                                        {% endif %} 
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End::row-1 -->

                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const buttons = document.querySelectorAll('.alert-parameter');
                                buttons.forEach(button => {
                                    button.addEventListener('click', function () {
                                        const deleteUrl = button.getAttribute('data-delete-url');
                            
                                        const swalWithBootstrapButtons = Swal.mixin({
                                            customClass: {
                                                confirmButton: 'btn btn-success ms-2',
                                                cancelButton: 'btn btn-danger'
                                            },
                                            buttonsStyling: false
                                        });
                            
                                        swalWithBootstrapButtons.fire({
                                            title: 'Are you sure?',
                                            text: "You won't be able to revert this!",
                                            icon: 'warning',
                                            showCancelButton: true,
                                            confirmButtonText: 'Yes, delete it!',
                                            cancelButtonText: 'No, cancel!',
                                            reverseButtons: true
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = deleteUrl;
                                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                                swalWithBootstrapButtons.fire(
                                                    'Cancelled',
                                                    'Your data is safe',
                                                    'error'
                                                );
                                            }
                                        });
                                    });
                                });
                            });
                        </script>
                        
                        
                    </div>

{% endblock %}
{% block footer %}
             {% include 'main/copyright-footer.html' %}
{% endblock %}
{% block scripts %}
        <!-- Sweetalerts JS -->
        <script src="{% static 'assets/libs/sweetalert2/sweetalert2.min.js'%}"></script>
        <script src="{% static 'assets/js/sweet-alerts.js'%}"></script>

        <!-- Flat Picker JS -->
        <script src="{% static 'assets/libs/flatpickr/flatpickr.min.js'%}"></script>

        <!-- CRM Contacts JS -->
        <script src="{% static 'assets/js/crm-leads.js'%}"></script>
        

{% endblock %}

