{% extends 'main/base.html' %}
{% load static %}
{% load custom_tags %}
{% block styles %}
<!-- Sweetalerts CSS -->
<link rel="stylesheet" href="{% static 'assets/libs/sweetalert2/sweetalert2.min.css'%}">
<!-- GLightbox CSS -->
<link rel="stylesheet" href="{% static 'assets/libs/glightbox/css/glightbox.min.css'%}">
        
{% endblock %}

{% block content %}

                    <div class="container-fluid">
                            
                        <!-- Page Header -->
                        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                            <h1 class="page-title fw-semibold fs-18 mb-0">JEE Main 2</h1>
                            <div class="ms-md-1 ms-0">
                                <nav>
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a href="#">Data</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">JEE Main 2</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <!-- Page Header Close -->

                        <!-- Start:: row-1 -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card custom-card">
                                    <div class="card-body p-3">
                                        <form id="filter-download-form" method="get">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                                                <div class="avatar-list-stacked">
                                                    <input type="date" id="start_date" name="start_date" value="{{ start_date }}" required class="btn btn-success-light btn-sm"> Start Date</input>
                                                    <input type="date" id="end_date" name="end_date" value="{{ end_date }}" required class="btn btn-success-light btn-sm"> End Date</input>
                                                    <button type="button" class="btn btn-success btn-sm" onclick="submitForm('filter')">Filter</button>
                                                </div>
                                                <div class="d-flex" role="search">
                                                    <button type="button" class="btn btn-success btn-sm" onclick="submitForm('download')">Download as Excel</button>
                                                </div>
                                            </div>
                                        </form>
                                        <script>
                                            function submitForm(actionType) {
                                                var form = document.getElementById('filter-download-form');
                                                if (actionType === 'filter') {
                                                    form.action = "{% url 'jee-main2-list' %}";
                                                } else if (actionType === 'download') {
                                                    form.action = "{% url 'download-jee-main2' %}";
                                                }
                                                form.submit();
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End:: row-1 -->

                        <!-- Start::row-1 -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card custom-card">
                                    <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
                                        <div class="card-title">
                                            Submissions<span class="badge bg-light text-default rounded ms-1 fs-12 align-middle">{{ jee_main2_list.paginator.count }}</span>
                                        </div>
                                        {% if jee_main2_list %}
                                        <div class="d-flex flex-wrap gap-2">
                                            <a href="{% url 'download-all-images' 'jeemain2' %}">
                                                <button class="btn btn-primary btn-sm"><i class="ri-download-2-line"></i> Download All Images</button>
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table text-nowrap">
                                                <thead>
                                                    <tr>
                                                        {% comment %} <th scope="col"><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></th> {% endcomment %}
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Created At</th>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Phone</th>
                                                        <th scope="col">Application No.</th>
                                                        <th scope="col">Specialization</th>
                                                        <th scope="col">Campus</th>
                                                        <th scope="col">Taken JEE Main 2</th>
                                                        <th scope="col">JEE Main 2 Rank</th>
                                                        <th scope="col">JEE Main 2 Registration No.</th>
                                                        <th scope="col">Marks Sheet</th>
                                                        {% if request.user|check_requested_permissions:'delete_cetranking' %}
                                                        <th scope="col">Actions</th>
                                                        {% endif %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if jee_main2_list %}
                                                    {% for jee_main2 in jee_main2_list.object_list %}
                                                    <tr class="crm-contact">
                                                        
                                                        {% comment %} <td><input class="form-check-input" type="checkbox" id="checkboxNoLabel1" value="" aria-label="..."></td> {% endcomment %}
                                                        <td>
                                                            {{ jee_main2.pk }}
                                                            
                                                        </td>
                                                        <td>
                                                            {{ jee_main2.created_at }}
                                                        </td>
                                                        <td>
                                                            <div class="d-flex align-items-center gap-2">
                                                                <div>
                                                                    <span class="d-block fw-semibold">{{ jee_main2.name }}</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <span class="d-block mb-1"><i class="ri-mail-line me-2 align-middle fs-14 text-muted d-inline-block"></i>{{ jee_main2.email }}</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <span class="d-block"><i class="ri-phone-line me-2 align-middle fs-14 text-muted"></i>{{ jee_main2.phone_number }}</span>
                                                            </div>
                                                        </td>
                                                        
                                                        <td>
                                                            {{ jee_main2.registration_number }}
                                                        </td>
                                                        <td>
                                                            {{ jee_main2.specialization }}
                                                        </td>
                                                        <td>
                                                            {{ jee_main2.campus }}
                                                        </td>
                                                        <td>
                                                            {{ jee_main2.taken_jee_main2|yesno:"Yes,No" }}
                                                        </td>
                                                        <td>
                                                            {{ jee_main2.jee_main2_rank|default:"-" }}
                                                        </td>
                                                        <td>
                                                            {{ jee_main2.jee_main2_registration_number|default:"-" }}
                                                        </td>
                                                        <td>
                                                            {% if jee_main2.upload_marks %}
                                                            <a href="{{ jee_main2.upload_marks.url }}" class="glightbox btn btn-icon btn-sm btn-info-transparent rounded-pill" data-gallery="gallery1" target="_blank">
                                                                <i class="ri-eye-line"></i>
                                                            </a>
                                                            <a href="{% url 'download-upload-2-jee-main-image' jee_main2.pk 'jeemain2' %}" class="btn btn-icon btn-sm btn-success-transparent rounded-pill">
                                                                <i class="ri-download-2-line"></i>
                                                            </a>
                                                            {% else %}
                                                            -
                                                            {% endif %}
                                                        </td>
                                                        {% if request.user|check_requested_permissions:'delete_cetranking' %}
                                                        <td>
                                                            <div class="btn-list">
                                                                <button class="btn btn-sm btn-danger-light btn-icon contact-delete alert-parameter" id="alert-parameter{{ jee_main2.pk }}" data-delete-url="{% url 'delete-jee-main2' jee_main2.pk %}"><i class="ri-delete-bin-line"></i></button>
                                                            </div>
                                                        </td>
                                                        {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                    {% else %}
                                                        <tr>
                                                            <td>No data available.</td>
                                                        </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                    <div class="card-footer border-top-0">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                Showing {{jee_main2_list.object_list.count}} Entries <i class="bi bi-arrow-right ms-2 fw-semibold"></i>
                                            </div>
                                            <div class="ms-auto">
                                                <nav aria-label="Page navigation" class="pagination-style-1">
                                                    <ul class="pagination mb-0">
                                                        {%if jee_main2_list.has_previous %}
                                                        <li class="page-item">
                                                            <a class="page-link" href="?page={{jee_main2_list.previous_page_number}}">
                                                                <i class="ri-arrow-left-s-line align-middle"></i>
                                                            </a>
                                                        </li>
                                                        {% endif %} 
                                                        {% for n in jee_main2_list.paginator.page_range %}
                                                            {% if jee_main2_list.number == n %}
                                                                <li class="page-item active"><a class="page-link">{{ n }}</a></li>
                                                            {% elif n > jee_main2_list.number|add:'-2' and n < jee_main2_list.number|add:'2' %}
                                                                <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if jee_main2_list.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link">
                                                                <i class="bi bi-three-dots"></i>
                                                            </a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="?page={{ jee_main2_list.paginator.num_pages }}">{{ jee_main2_list.paginator.num_pages }}</a></li>
                                                        {% endif %} 
                                                        {%if jee_main2_list.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link" href="?page={{jee_main2_list.next_page_number}}">
                                                                <i class="ri-arrow-right-s-line align-middle"></i>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End::row-1 -->

                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const buttons = document.querySelectorAll('.alert-parameter');
                                buttons.forEach(button => {
                                    button.addEventListener('click', function () {
                                        const deleteUrl = button.getAttribute('data-delete-url');
                            
                                        const swalWithBootstrapButtons = Swal.mixin({
                                            customClass: {
                                                confirmButton: 'btn btn-success ms-2',
                                                cancelButton: 'btn btn-danger'
                                            },
                                            buttonsStyling: false
                                        });
                            
                                        swalWithBootstrapButtons.fire({
                                            title: 'Are you sure?',
                                            text: "You won't be able to revert this!",
                                            icon: 'warning',
                                            showCancelButton: true,
                                            confirmButtonText: 'Yes, delete it!',
                                            cancelButtonText: 'No, cancel!',
                                            reverseButtons: true
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = deleteUrl;
                                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                                swalWithBootstrapButtons.fire(
                                                    'Cancelled',
                                                    'Your data is safe',
                                                    'error'
                                                );
                                            }
                                        });
                                    });
                                });
                            });
                        </script>
                        
                        
                    </div>

{% endblock %}
{% block footer %}
             {% include 'main/copyright-footer.html' %}
{% endblock %}
{% block scripts %}
        <!-- Sweetalerts JS -->
        <script src="{% static 'assets/libs/sweetalert2/sweetalert2.min.js'%}"></script>
        <script src="{% static 'assets/js/sweet-alerts.js'%}"></script>

        <!-- Flat Picker JS -->
        <script src="{% static 'assets/libs/flatpickr/flatpickr.min.js'%}"></script>

        <!-- CRM Contacts JS -->
        <script src="{% static 'assets/js/crm-leads.js'%}"></script>
        <!-- Gallery JS -->
        <script src="{% static 'assets/libs/glightbox/js/glightbox.min.js'%}"></script>
        <script src="{% static 'assets/js/gallery.js'%}"></script>

{% endblock %}

