{% extends 'login_users/custom-base.html' %}
{% load static %}

{% block styles %}

        <link rel="stylesheet" href="{% static 'assets/libs/swiper/swiper-bundle.min.css'%}">

{% endblock %}

{% block body %}
    <body class="bg-white">
{% endblock %}

{% block content %}

        <div class="row authentication mx-0">
            <div class="col-xxl-7 col-xl-7 col-lg-12">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-xxl-6 col-xl-7 col-lg-7 col-md-7 col-sm-8 col-12">
                        
                        {% if messages %}
                        <div class="p-3 d-block">
                            <div class="alert alert-primary text-center" role="alert">
                                {% for message in messages %}
                                    <span class="fw-semibold fs-14 text-primary ms-1">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="p-5">
                            <div class="mb-3">
                                <a href="index">
                                    <img src="{% static 'assets/images/pesu/logo/pes_support_logo.png'%}" alt="" class="authentication-brand desktop-logo">
                                    <img src="{% static 'assets/images/pesu/logo/pes_support_logo.png'%}" alt="" class="authentication-brand desktop-dark">
                                </a>
                            </div>
                            <p class="h5 fw-semibold mb-2">Change User Password</p>
                            <p class="mb-3 text-muted op-7 fw-normal">{{get_user.name}} - ({{get_user.username}})</p>
                            
                            <form method="post" action="{% url 'admin-change-password-form' get_user.pk %}">
                                {% csrf_token %}
                                <div class="row gy-3">
                                    <div class="row gy-3">
                                        <div class="col-xl-12 mt-0">
                                            <label for="reset-newpassword" class="form-label text-default">New Password</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control form-control-lg" name="password1" id="reset-newpassword" placeholder="new password">
                                                <button class="btn btn-light" onclick="createpassword('reset-newpassword',this)" type="button" id="button-addon21"><i class="ri-eye-off-line align-middle"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 mb-3">
                                            <label for="reset-confirmpassword" class="form-label text-default">Confirm Password</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control form-control-lg" name="password2" id="reset-confirmpassword" placeholder="confirm password">
                                                <button class="btn btn-light" onclick="createpassword('reset-confirmpassword',this)" type="button" id="button-addon22"><i class="ri-eye-off-line align-middle"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 d-grid mt-2">
                                            <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-5 col-xl-5 col-lg-5 d-xl-block d-none px-0">
                <div class="authentication-cover">
                    <div class="aunthentication-cover-content rounded">
                        <div class="swiper keyboard-control">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="text-fixed-white text-center p-5 d-flex align-items-center justify-content-center">
                                        <div>
                                            <div class="mb-5">
                                                <img src="{% static 'assets/images/authentication/2.png'%}" class="authentication-image" alt="">
                                            </div>
                                            <h6 class="fw-semibold text-fixed-white">Sign In</h6>
                                            <p class="fw-normal fs-14 op-7"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa eligendi expedita aliquam quaerat nulla voluptas facilis. Porro rem voluptates possimus, ad, autem quae culpa architecto, quam labore blanditiis at ratione.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="text-fixed-white text-center p-5 d-flex align-items-center justify-content-center">
                                        <div>
                                            <div class="mb-5">
                                                <img src="{% static 'assets/images/authentication/3.png'%}" class="authentication-image" alt="">
                                            </div>
                                            <h6 class="fw-semibold text-fixed-white">Sign In</h6>
                                            <p class="fw-normal fs-14 op-7"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa eligendi expedita aliquam quaerat nulla voluptas facilis. Porro rem voluptates possimus, ad, autem quae culpa architecto, quam labore blanditiis at ratione.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="text-fixed-white text-center p-5 d-flex align-items-center justify-content-center">
                                        <div>
                                            <div class="mb-5">
                                                <img src="{% static 'assets/images/authentication/2.png'%}" class="authentication-image" alt="">
                                            </div>
                                            <h6 class="fw-semibold text-fixed-white">Sign In</h6>
                                            <p class="fw-normal fs-14 op-7"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa eligendi expedita aliquam quaerat nulla voluptas facilis. Porro rem voluptates possimus, ad, autem quae culpa architecto, quam labore blanditiis at ratione.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

{% endblock %}

{% block scripts %}

        <!-- Swiper JS -->
        <script src="{% static 'assets/libs/swiper/swiper-bundle.min.js'%}"></script>

        <!-- Internal Sing-Up JS -->
        <script src="{% static 'assets/js/authentication.js'%}"></script>

        <!-- Show Password JS -->
        <script src="{% static 'assets/js/show-password.js'%}"></script>


{% endblock %}