{% extends 'login_users/custom-base.html' %}
{% load static %}
{% block title %} Change Password | Admissions {% endblock %}
{% block styles %}



{% endblock %}

{% block body %}
    <body>
{% endblock %}


{% block content %}

        <div class="container">
            <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                    <div class="my-5 d-flex justify-content-center">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'assets/images/pesu/logo/pes_support_logo.png'%}" alt="logo" class="desktop-logo">
                            <img src="{% static 'assets/images/pesu/logo/pes_support_logo.png'%}" alt="logo" class="desktop-dark">
                        </a>
                    </div>
                    <div class="card custom-card">
                        {% if messages %}
                        <div class="p-3 d-block">
                            <div class="alert alert-primary text-center" role="alert">
                                {% for message in messages %}
                                    <span class="fw-semibold fs-14 text-primary ms-1">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="card-body p-5">
                            <p class="h5 fw-semibold mb-2">Change Password</p>
                            <p class="mb-4 text-muted op-7 fw-normal">Hello {{user.name}} !</p>
                            <form method="post" action="{% url 'change-password-form' %}">
                                {% csrf_token %}
                                <div class="row gy-3">
                                    <div class="col-xl-12 mt-0">
                                        <label for="reset-password" class="form-label text-default">Current Password</label>
                                        <div class="input-group">
                                            {{form.old_password}}
                                            <button class="btn btn-light" onclick="createpassword('reset-password',this)" type="button" id="button-addon2"><i class="ri-eye-off-line align-middle"></i></button>
                                        </div>
                                        {% if form.old_password.errors %}
                                            <div class="text-danger">{{ form.old_password.errors|join:", " }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xl-12">
                                        <label for="reset-newpassword" class="form-label text-default">New Password</label>
                                        <div class="input-group">
                                            {{form.new_password1}}
                                            <button class="btn btn-light" onclick="createpassword('reset-newpassword',this)" type="button" id="button-addon21"><i class="ri-eye-off-line align-middle"></i></button>
                                        </div>
                                        {% if form.new_password1.errors %}
                                            <div class="text-danger">{{ form.new_password1.errors|join:", " }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xl-12 mb-3">
                                        <label for="reset-confirmpassword" class="form-label text-default">Confirm Password</label>
                                        <div class="input-group">
                                            {{form.new_password2}}
                                            <button class="btn btn-light" onclick="createpassword('reset-confirmpassword',this)" type="button" id="button-addon22"><i class="ri-eye-off-line align-middle"></i></button>
                                        </div>
                                        {% if form.new_password2.errors %}
                                            <div class="text-danger">{{ form.new_password2.errors|join:", " }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xl-12 d-grid mt-2">
                                        <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                            
                            <div class="text-center my-3 authentication-barrier">
                                <span>OR</span>
                            </div>
                            <div class="text-center">
                                <p class="fs-12 text-muted mt-3">Back to <a href="{% url 'dashboard' %}" class="text-primary">Dashboard</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block scripts %}

        <!-- Show Password JS -->
        <script src="{% static 'assets/js/show-password.js'%}"></script>

{% endblock %}