{% extends 'main.html' %}

{% load static %}
{% block title %}Log in - PES University{% endblock title %}
{% block description %}<meta name="description" content="Events - PES University" />{% endblock %}
{% block content %}
<div id="wrapper">
    <!-- content -->	
    <div class="content">
        
        
        <div class="gray-bg small-padding fl-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <!--  listing-single content -->
                    <div class="col-md-10">
                        
                        
                        
                        <div class="list-single-main-wrapper fl-wrap">
                            {% if messages %}
                            <div class="notification success-notif  fl-wrap">
                            {% for message in messages %}
                                <p style="font-size: 13px;">{{ message }}</p>
                                {% endfor %}
                                <a class="notification-close" href="#"><i class="fal fa-times"></i></a>
                            </div>
                            {% endif %}
                            <div class="list-single-main-container fl-wrap" id="sec3">
                                <!-- list-single-main-item -->
                                
                                <div class="list-single-main-item list-single-main-item-custom fl-wrap">
                                    <div class="main-register-header color-bg">
                                        <div class="main-register-logo fl-wrap">
                                            <img src="{% static 'images/white_logo.png' %}" alt="">
                                        </div>
                                        <div class="main-register-bg">
                                            <div class="mrb_pin"></div>
                                            <div class="mrb_pin mrb_pin2"></div>
                                        </div>
                                        <div class="mrb_dec"></div>
                                        <div class="mrb_dec mrb_dec2"></div>
                                    </div>
                                    <div class="main-register">
                                        
                                        <!--tabs -->
                                        <div class="login-tabs-container" >
                                            <div class="tab">
                                                <!--tab -->
                                                <div id="tab-1" class="tab-content first-tab">
                                                    <div class="custom-form">
                                                        <div class="login-header color-blue">
                                                            <h5>Forget Password </h5>
                                                            </div>
                                                        <form method="post" action="{% url 'forget-password' %}">
                                                            {% csrf_token %}
                                                            <label>Email Address * <span class="dec-icon"><i
                                                                        class="fal fa-user"></i></span></label>
                                                            <input name="username" type="text" required>
                                                            
                                                            <button type="submit" class="log_btn color-bg"> Submit </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!--tab end -->
                                            </div>
                                            <!--tabs end -->
                                            <div class="log-separator fl-wrap"><span>Help</span></div>
                                            <div class=" fl-wrap" >
                                                <p class="login-help-text">If you have any trouble updating your Profile, please contact <a href="mailto:media@pes.edu" class="color-blue"> media@pes.edu</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- list-single-main-item end -->                                          
                                                                  
                                                                        
                            </div>
                        </div>
                    </div>
                    <!-- listing-single content end-->
                                               
                </div>
                
            </div>
        </div>
    </div>
    <!-- content end -->	
    <!-- footer -->	
    {% include 'footer.html' %}
    <!-- footer end -->
    
</div>

{% endblock content %}