{% load static %}

		<div class="scrollToTop">
			<span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
		</div>
		<div id="responsive-overlay"></div>

		<!-- Popper JS -->
		<script src="{% static 'assets/libs/@popperjs/core/umd/popper.min.js'%}"></script>

		<!-- Bootstrap JS -->
		<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

		<!-- Color Picker JS -->
		<script src="{% static 'assets/libs/@simonwep/pickr/pickr.es5.min.js'%}"></script>

		<!-- Choices JS -->
		<script src="{% static 'assets/libs/choices.js/public/assets/scripts/choices.min.js'%}"></script>

		<!-- Swiper JS -->
		<script src="{% static 'assets/libs/swiper/swiper-bundle.min.js'%}"></script>

		<!-- Defaultmenu JS -->
		<script src="{% static 'assets/js/defaultmenu.min.js'%}"></script>

		<!-- Internal Landing JS -->
		<script src="{% static 'assets/js/landing.js'%}"></script>

		<!-- Node Waves JS-->
		<script src="{% static 'assets/libs/node-waves/waves.min.js'%}"></script>

		<!-- Sticky JS -->
		<script src="{% static 'assets/js/sticky.js'%}"></script>
